<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>Rango</title>
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
		<script src="{% static "js/jquery.js" %}"></script>
	</head>

	<body>
		<h1>Rango says...</h1>
		hello world!!! <strong> {{ boldmessage }}</strong><br />
		<a href="/rango/about/">About</a><br />
		<h1>Including Static Media</h1>
		<img src="{% static "rango.jpeg " %}" alt="Picture of Rango" />

		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>	
		{% else %}
			<strong>There are no categories present</strong>
			{% endif %}
	</body>

</html>